@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-3 d-flex  ">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3 class="mb-4">Form Update</h3>
			</div>
			<div class="card-body">
				<div class="d-grid gap-3 p-2 mb-2">
					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col-md-3 text-end">WS NUMBER :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="text" name="name" value="" />
					</div>
					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col-md-3 text-end">DESCRIPTION :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="text" name="name" value="" />
					</div>
					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col-md-3 text-end">OWNER :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="text" name="name" value="" />
					</div>

					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col text-end">DATE EFFECTIVE :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="date" name="name" value="" />
						<label class="col text-end">EXPIRE DATE :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="date" name="name" value="" />
					</div>

					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col-md-3 text-end">FILE :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="text" name="name" value="" />
					</div>
					<div class="row mb-1 align-items-center justify-content-center">
						<label class="col-md-3 text-end">NOTE :</label>
						<input class="border border-secondary-subtle col form-control form-control" type="text" name="name" value="" />
					</div>

				</div>
				<div class="justify-content-end align-items-center d-flex mb-1 gap-3">
					<button class="btn btn-primary shadow ">
						<i class="bi bi-floppy-fill"></i> SAVE
					</button>
					<button class="btn btn-secondary shadow ">
						<i class="bi bi-floppy-fill"></i> CANCEL
					</button>
				</div>
			</div>
		</div>
	</div>
</div>